{  
  "presets": [
    "react",
    "es2015",
    "stage-1"
  ],
  "plugins": [
    "transform-regenerator",
    "transform-decorators-legacy",
    ["babel-plugin-root-import", {
      "rootPathSuffix": "src"
    }]    
  ]
}